.home {
  .hero {
    height: 60vh;
    margin: 30px;
    background-color: red;
    background-image: url("../assets/Concert_Band.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    position: relative;
    .overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-family: "Oswald", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-size: 20px;
      font-style: normal;
      flex-direction: column;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(9, 54, 121, 0.644);
      h1 {
        font-family: "Playwrite IS", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        font-size: 60px;
      }
      p {
        font-family: "Playwrite IS", cursive;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 19px;
      }
    }
  }
}
